<template name="accomplishmentsTemplate">
	<div class="accomplishmentsTemplate">
		<div class="accompTitleWrap">
			<div class="container container-fixed">
				<h3 class="text-center"><strong><u>My Accomplishments</u></strong></h3>
				<div class="shortIntro text-center">The most exciting event I accomplished in 2015.</div>
			</div>
		</div>
		<div class="accompThumbnails">
			<div class="row">
				<div class="container container-fixed">
					<div class="accompThumbnail" style="background-image: url(/images/demo/accomp-thumbnail-1.png);">
						<div data-modal-key="thumbnail1Text" class="editable caption thumbnail1Text">Your Caption</div>
						<div class="editComponent uploadBtn"></div>
					</div>
					<div class="accompThumbnail" style="background-image: url(/images/demo/accomp-thumbnail-2.png);">
						<div data-modal-key="thumbnail2Text" class="editable caption thumbnail2Text">Your Caption</div>
						<div class="editComponent uploadBtn"></div>
					</div>
					<div class="accompThumbnail" style="background-image: url(/images/demo/accomp-thumbnail-3.png);">
						<div data-modal-key="thumbnail3Text" class="editable caption thumbnail3Text">Your Caption</div>
						<div class="editComponent uploadBtn"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="container container-fixed">
					<div class="accompThumbnail" style="background-image: url(/images/demo/accomp-thumbnail-4.png);">
						<div data-modal-key="thumbnail4Text" class="editable caption thumbnail4Text">Your Caption</div>
						<div class="editComponent uploadBtn"></div>
					</div>
					<div class="accompThumbnail" style="background-image: url(/images/demo/accomp-thumbnail-5.png);">
						<div data-modal-key="thumbnail5Text" class="editable caption thumbnail5Text">Your Caption</div>
						<div class="editComponent uploadBtn"></div>
					</div>
					<div class="accompThumbnail" style="background-image: url(/images/demo/accomp-thumbnail-6.png);">
						<div data-modal-key="thumbnail6Text" class="editable caption thumbnail6Text">Your Caption</div>
						<div class="editComponent uploadBtn"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="container container-fixed">
					<div class="accompThumbnail" style="background-image: url(/images/demo/accomp-thumbnail-4.png);">
						<div data-modal-key="thumbnail7Text" class="editable caption thumbnail7Text">Your Caption</div>
						<div class="editComponent uploadBtn"></div>
					</div>
					<div class="accompThumbnail" style="background-image: url(/images/demo/accomp-thumbnail-5.png);">
						<div data-modal-key="thumbnail8Text" class="editable caption thumbnail8Text">Your Caption</div>
						<div class="editComponent uploadBtn"></div>
					</div>
					<div class="accompThumbnail" style="background-image: url(/images/demo/accomp-thumbnail-6.png);">
						<div data-modal-key="thumbnail9Text" class="editable caption thumbnail9Text">Your Caption</div>
						<div class="editComponent uploadBtn"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="container container-fixed">
					<div class="accompThumbnail" style="background-image: url(/images/demo/accomp-thumbnail-4.png);">
						<div data-modal-key="thumbnail10Text" class="editable caption thumbnail10Text">Your Caption</div>
						<div class="editComponent uploadBtn"></div>
					</div>
					<div class="accompThumbnail" style="background-image: url(/images/demo/accomp-thumbnail-5.png);">
						<div data-modal-key="thumbnail11Text" class="editable caption thumbnail11Text">Your Caption</div>
						<div class="editComponent uploadBtn"></div>
					</div>
					<div class="accompThumbnail" style="background-image: url(/images/demo/accomp-thumbnail-6.png);">
						<div data-modal-key="thumbnail12Text" class="editable caption thumbnail12Text">Your Caption</div>
						<div class="editComponent uploadBtn"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
