<template name="accomplishmentsTemplate">
	<div class="accomplishmentsTemplate">
		<div class="accompTitleWrap">
			<div class="container container-fixed">
				<h3 class="text-center"><strong><u>My Accomplishments</u></strong></h3>
				<div class="shortIntro text-center">The most exciting event I accomplished in 2017.</div>
			</div>
		</div>
		<div class="accompThumbnails">
			<div class="row">
				<div class="container container-fixed">
					<div class="accompThumbnail" style="background-image: url({{ accomplishImage 'accompThumbnail1' '/images/demo/accomp-thumbnail-1.png' }});">
						<div data-modal-key="thumbnail1Text" data-toggle="tooltip" data-placement="top" title="輸入你最個性化的關鍵字" class="editable caption thumbnail1Text"></div>
						<div data-image-key="accompThumbnail1" class="editComponent uploadBtn">{{> photoUp photoUpOptions }}</div>
					</div>
					<div class="accompThumbnail" style="background-image: url({{ accomplishImage 'accompThumbnail2' '/images/demo/accomp-thumbnail-2.png' }});">
						<div data-modal-key="thumbnail2Text" data-toggle="tooltip" data-placement="top" title="輸入你最個性化的關鍵字" class="editable caption thumbnail2Text"></div>
						<div data-image-key="accompThumbnail2" class="editComponent uploadBtn">{{> photoUp photoUpOptions }}</div>
					</div>
					<div class="accompThumbnail" style="background-image: url({{ accomplishImage 'accompThumbnail3' '/images/demo/accomp-thumbnail-3.png' }});">
						<div data-modal-key="thumbnail3Text" data-toggle="tooltip" data-placement="top" title="輸入你最個性化的關鍵字" class="editable caption thumbnail3Text"></div>
						<div data-image-key="accompThumbnail3" class="editComponent uploadBtn">{{> photoUp photoUpOptions }}</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="container container-fixed">
					<div class="accompThumbnail" style="background-image: url({{ accomplishImage 'accompThumbnail4' '/images/demo/accomp-thumbnail-4.png' }});">
						<div data-modal-key="thumbnail4Text" data-toggle="tooltip" data-placement="top" title="輸入你最個性化的關鍵字" class="editable caption thumbnail4Text"></div>
						<div data-image-key="accompThumbnail4" class="editComponent uploadBtn">{{> photoUp photoUpOptions }}</div>
					</div>
					<div class="accompThumbnail" style="background-image: url({{ accomplishImage 'accompThumbnail5' '/images/demo/accomp-thumbnail-5.png' }});">
						<div data-modal-key="thumbnail5Text" data-toggle="tooltip" data-placement="top" title="輸入你最個性化的關鍵字" class="editable caption thumbnail5Text"></div>
						<div data-image-key="accompThumbnail5" class="editComponent uploadBtn">{{> photoUp photoUpOptions }}</div>
					</div>
					<div class="accompThumbnail" style="background-image: url({{ accomplishImage 'accompThumbnail6' '/images/demo/accomp-thumbnail-6.png' }});">
						<div data-modal-key="thumbnail6Text" data-toggle="tooltip" data-placement="top" title="輸入你最個性化的關鍵字" class="editable caption thumbnail6Text"></div>
						<div data-image-key="accompThumbnail6" class="editComponent uploadBtn">{{> photoUp photoUpOptions }}</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="container container-fixed">
					<div class="accompThumbnail" style="background-image: url({{ accomplishImage 'accompThumbnail7' '/images/demo/accomp-thumbnail-4.png' }});">
						<div data-modal-key="thumbnail7Text" data-toggle="tooltip" data-placement="top" title="輸入你最個性化的關鍵字" class="editable caption thumbnail7Text"></div>
						<div data-image-key="accompThumbnail7" class="editComponent uploadBtn">{{> photoUp photoUpOptions }}</div>
					</div>
					<div class="accompThumbnail" style="background-image: url({{ accomplishImage 'accompThumbnail8' '/images/demo/accomp-thumbnail-5.png' }});">
						<div data-modal-key="thumbnail8Text" data-toggle="tooltip" data-placement="top" title="輸入你最個性化的關鍵字" class="editable caption thumbnail8Text"></div>
						<div data-image-key="accompThumbnail8" class="editComponent uploadBtn">{{> photoUp photoUpOptions }}</div>
					</div>
					<div class="accompThumbnail" style="background-image: url({{ accomplishImage 'accompThumbnail9' '/images/demo/accomp-thumbnail-6.png' }});">
						<div data-modal-key="thumbnail9Text" data-toggle="tooltip" data-placement="top" title="輸入你最個性化的關鍵字" class="editable caption thumbnail9Text"></div>
						<div data-image-key="accompThumbnail9" class="editComponent uploadBtn">{{> photoUp photoUpOptions }}</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="container container-fixed">
					<div class="accompThumbnail" style="background-image: url({{ accomplishImage 'accompThumbnail10' '/images/demo/accomp-thumbnail-4.png' }});">
						<div data-modal-key="thumbnail10Text" data-toggle="tooltip" data-placement="top" title="輸入你最個性化的關鍵字" class="editable caption thumbnail10Text"></div>
						<div data-image-key="accompThumbnail10" class="editComponent uploadBtn">{{> photoUp photoUpOptions }}</div>
					</div>
					<div class="accompThumbnail" style="background-image: url({{ accomplishImage 'accompThumbnail11' '/images/demo/accomp-thumbnail-5.png' }});">
						<div data-modal-key="thumbnail11Text" data-toggle="tooltip" data-placement="top" title="輸入你最個性化的關鍵字" class="editable caption thumbnail11Text"></div>
						<div data-image-key="accompThumbnail11" class="editComponent uploadBtn">{{> photoUp photoUpOptions }}</div>
					</div>
					<div class="accompThumbnail" style="background-image: url({{ accomplishImage 'accompThumbnail12' '/images/demo/accomp-thumbnail-6.png' }});">
						<div data-modal-key="thumbnail12Text" data-toggle="tooltip" data-placement="top" title="輸入你最個性化的關鍵字" class="editable caption thumbnail12Text"></div>
						<div data-image-key="accompThumbnail12" class="editComponent uploadBtn">{{> photoUp photoUpOptions }}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
