<template name="coverTemplate">
	<div class="coverTemplate">
		<div class="container container-fixed">

			<div class="editComponent uploadBtn"></div>

			<div data-modal-key="coverKeywords" data-toggle="tooltip" data-placement="right" title="Tooltip on left" class="editable coverKeywords">{{{ getTemplateText 'coverKeywords' coverKeywords }}}</div>

			<div data-modal-key="coverTitle" data-toggle="tooltip" data-placement="right" title="Tooltip on left" class="editable coverTitle">{{{ getTemplateText 'coverTitle' coverTitle }}}</div>

			<div data-modal-key="coverSubTitle1" data-toggle="tooltip" data-placement="right" title="Tooltip on left" class="editable coverSubTitle1">{{{ getTemplateText 'coverSubTitle1' coverSubTitle1 }}}</div>

			<div data-modal-key="coverSubTitle2" data-toggle="tooltip" data-placement="right" title="Tooltip on left" class="editable coverSubTitle2">{{{ getTemplateText 'coverSubTitle2' coverSubTitle2 }}}</div>

			<div data-modal-key="coverSubTitle3" data-toggle="tooltip" data-placement="right" title="Tooltip on left" class="editable coverSubTitle3">{{{ getTemplateText 'coverSubTitle3' coverSubTitle3 }}}</div>

			<div data-modal-key="coverFooterText" data-toggle="tooltip" data-placement="right" title="Tooltip on left" class="editable coverFooterText">{{{ getTemplateText 'coverFooterText' coverFooterText }}}</div>

			<div class="coverCircleWrap">
				<div data-modal-key="coverCircle" data-toggle="tooltip" data-placement="bottom" title="Tooltip on left" class="editable coverCircle">{{{ getTemplateText 'coverCircle' coverCircle }}}</div>
			</div>

		</div>
	</div>
</template>