<template name="coverTemplate">
	<div class="coverTemplate" style="background-image:url({{ coverTemplateBg }});">
		<div class="container container-fixed">

			<div class="editComponent uploadBtn">
				{{> photoUp photoUpOptions }}
			</div>

			<div class="editComponent tips">
				溫馨提示:
				<br />
				(1) 最佳相片尺寸: 1920x975
				<br />
				(2) 檔案格式: jpg / png
				<br />
				(3) 建議使用淺色背景的相片
				<br />
				(4) 建議人像於右邊, 可避免與文字重疊
			</div>
			<div class="editComponent resetBtn">
				Reset image
			</div>

			<div data-modal-key="user" class="editable user hidden">{{ currentUser._id }}</div>

			<div data-modal-key="coverKeywords" data-toggle="tooltip" data-placement="right" title="寫下關於你的關鍵字" class="editable coverKeywords"></div>

			<div data-modal-key="coverTitle" data-toggle="tooltip" data-placement="right" title="你最想別人知道的優點" class="editable coverTitle"></div>

			<div data-modal-key="coverSubTitle1" data-toggle="tooltip" data-placement="right" title="你對未來最大的期許" class="editable coverSubTitle1"></div>

			<div data-modal-key="coverSubTitle2" data-toggle="tooltip" data-placement="right" title="過去一年，你最驕傲的事" class="editable coverSubTitle2"></div>

			<div data-modal-key="coverSubTitle3" data-toggle="tooltip" data-placement="right" title="未來目標" class="editable coverSubTitle3"></div>

			<div class="coverFooterText">By taking part in this intern program, I hope to gain better understanding about myself.</div>

			<div class="coverCircleWrap">
				<div data-modal-key="coverCircle" data-toggle="tooltip" data-placement="bottom" title="有沒有更多好的想法告訴別人呢？" class="editable coverCircle"></div>
			</div>
			<div class="hiddenCanvas">
				<canvas id="downloadCoverCanvas" width="1920" height="975"></canvas>
			</div>
		</div>
	</div>
</template>