<template name="messageTemplate">
	<div class="messageTemplate">
		<div class="container container-fixed">
			<h3 class="text-center"><strong><u>Learning from the speakers</u></strong></h3>
			<div class="shortIntro text-center">
				In this internship program, these speakers inspired me a lot!
				<!-- Celebrating the coming of the FTLife internship program in 2015, this e-portfolio will be launched for the candidate own portfolio building for their future. More details about about me, speaker page. -->
			</div>
			<div class="row">
				<div class="speakerImage pull-left">
					<img src="/images/speaker-speaker-1.png" alt="" />
				</div>
				<div class="speakerText orange pull-left">
					<div class="speakerTitle">Famous Artist</div>
					<div class="speakerName">Bob Lam</div>
					<div data-modal-key="speaker1Content" data-html="true" data-toggle="tooltip" data-placement="left" title="今天的工作坊主題是甚麼？<br />今天的工作坊你學到了甚麼？<br />在講者身上你學到了甚麼？<br />最令你深刻的是甚麼？" class="editable speaker1Content"></div>
				</div>
			</div>
			<div class="row">
				<div class="speakerText green pull-left">
					<div class="speakerTitle">Famous Stock Analyst</div>
					<div class="speakerName">Agnes Wu</div>
					<div data-modal-key="speaker2Content" data-html="true" data-toggle="tooltip" data-placement="right" title="今天的工作坊主題是甚麼？<br />今天的工作坊你學到了甚麼？<br />在講者身上你學到了甚麼？<br />最令你深刻的是甚麼？" class="editable speaker2Content"></div>
				</div>
				<div class="speakerImage pull-left">
					<img src="/images/speaker-speaker-2.png" alt="" />
				</div>
			</div>
			<div class="row">
				<div class="speakerImage pull-left">
					<img src="/images/speaker-speaker-3.png" alt="" />
				</div>
				<div class="speakerText red pull-left">
					<div class="speakerTitle">Linked In Expert</div>
					<div class="speakerName">Glami Chan</div>
					<div data-modal-key="speaker3Content" data-html="true" data-toggle="tooltip" data-placement="left" title="今天的工作坊主題是甚麼？<br />今天的工作坊你學到了甚麼？<br />在講者身上你學到了甚麼？<br />最令你深刻的是甚麼？" class="editable speaker3Content"></div>
				</div>
			</div>
			<div class="row">
				<div class="speakerText blue pull-left">
					<div class="speakerTitle">Movie Director</div>
					<div class="speakerName">Ray Woo</div>
					<div data-modal-key="speaker4Content" data-html="true" data-toggle="tooltip" data-placement="right" title="今天的工作坊主題是甚麼？<br />今天的工作坊你學到了甚麼？<br />在講者身上你學到了甚麼？<br />最令你深刻的是甚麼？" class="editable speaker4Content"></div>
				</div>
				<div class="speakerImage pull-left">
					<img src="/images/speaker-speaker-4.png" alt="" />
				</div>
			</div>
			<div class="row">
				<div class="speakerImage pull-left">
					<img src="/images/speaker-speaker-5.png" alt="" />
				</div>
				<div class="speakerText purple pull-left">
					<div class="speakerTitle">Former News Anchor of TVB</div>
					<div class="speakerName">Li Chan Wing</div>
					<div data-modal-key="speaker5Content" data-html="true" data-toggle="tooltip" data-placement="left" title="今天的工作坊主題是甚麼？<br />今天的工作坊你學到了甚麼？<br />在講者身上你學到了甚麼？<br />最令你深刻的是甚麼？" class="editable speaker5Content"></div>
				</div>
			</div>
		</div>
	</div>
</template>