<template name="messageTemplate">
	<div class="messageTemplate">
		<div class="container container-fixed">
			<h3 class="text-center"><strong><u>Learning from the speakers</u></strong></h3>
			<div class="shortIntro text-center">Celebrating the coming of the Ageas internship program in 2015, this e-portfolio will be launched for the candidate own portfolio building for their future. More details about about me, speaker page.</div>
			<div class="row">
				<div class="speakerImage pull-left">
					<img src="/images/speaker-speaker-1.png" alt="" />
				</div>
				<div class="speakerText orange pull-left">
					<div class="speakerTitle">Famous Artist</div>
					<div class="speakerName">Sammy Leung</div>
					<div data-modal-key="speaker1Content" class="editable speaker1Content">From Sammy Leung I learned how to train my own quick responses.  In my mind he is a smart person. I used to feel being smart is an endowed characteristic.  But today he shared some interesting examples in real-time, making me to realize quick responses can be improved by increasing mental awareness of the cause-effect relationship on matters in daily life. </div>
				</div>
			</div>
			<div class="row">
				<div class="speakerText green pull-left">
					<div class="speakerTitle">Famous Artist</div>
					<div class="speakerName">Vennis Ma</div>
					<div data-modal-key="speaker2Content" class="editable speaker2Content">From Vennis Ma I learned a lot about how to best present self image.  I used to feel I don't need to pay much attention on self image so long as I am very able in substance.  But what the teacher said has influenced me a great deal: "Focus on self image is not to please others but to respect both others and oneself."  Looking at how a person presents himself you can infer his ability of managing self.</div>
				</div>
				<div class="speakerImage pull-left">
					<img src="/images/speaker-speaker-2.png" alt="" />
				</div>
			</div>
			<div class="row">
				<div class="speakerImage pull-left">
					<img src="/images/speaker-speaker-3.png" alt="" />
				</div>
				<div class="speakerText red pull-left">
					<div class="speakerTitle">Speaker</div>
					<div class="speakerName">Mr. Wong</div>
					<div data-modal-key="speaker3Content" class="editable speaker3Content">I learned a lot from Wing Lee I really wish someday I could become a successful person like him.  Later some schoolmates told me he and I had something in common.  That made me very happy.  I will double my effort from now on so that I hope someday I can achieve as much as he does.  </div>
				</div>
			</div>
			<div class="row">
				<div class="speakerText blue pull-left">
					<div class="speakerTitle">Famous Artist</div>
					<div class="speakerName">Mr. Lai</div>
					<div data-modal-key="speaker4Content" class="editable speaker4Content">From speaker Mr. Lai I learned how to deal with pressure.  I admire his/her achievement in mountain climbing.  Although I usually do not care for athletic activities, B taught me interesting formulas and tips. That makes me feel like wanting to try jogging sometime myself to see whether strengthening faith would help me not give up too easily. </div>
				</div>
				<div class="speakerImage pull-left">
					<img src="/images/speaker-speaker-4.png" alt="" />
				</div>
			</div>
			<div class="row">
				<div class="speakerImage pull-left">
					<img src="/images/speaker-speaker-5.png" alt="" />
				</div>
				<div class="speakerText purple pull-left">
					<div class="speakerTitle">Speaker</div>
					<div class="speakerName">Wing Lee</div>
					<div data-modal-key="speaker5Content" class="editable speaker5Content">From speaker Mr. Wong I learned to improve my money management quotient.  I was not good at managing money before.  After learning his tips I feel I can accumulate more wealth by changing a lot of my small habits in daily life.  The investment know-hows for beginners he taught also helps me become more reflective.  </div>
				</div>
			</div>
		</div>
	</div>
</template>