<template name="profileTemplate">
	<div class="profileTemplate">
		<div class="container container-fixed">
			<div class="profileNameDescription">
				<div data-modal-key="profileName" class="editable profileName">I am Amy Chan.</div>
				<div data-modal-key="profileDescription" class="editable profileDescription">By taking part in this intern program, I hope to gain better understanding about mvyself.  Through a series of opportunities and challenges I want to increase self-awareness, and advance my expertise so as to benefit my future career development. </div>
			</div>
		</div>
		<div class="profileAboutMe">
			<div class="container container-fixed">
				<h3 class="text-center"><strong><u>ABOUT ME</u></strong></h3>
				<div class="row grid">
					<div class="col-sm-7">
						<div class="block greenBlock">
							<div data-modal-key="profileGreenName" class="editable name greenName">“Dare to Differ”</div>
							<div data-modal-key="profileGreenContent" class="editable content greenContent">I wanted to live the life, a different life. I didn't want to go to the same place every day and see the same people and do the same job. I wanted interesting challenges.</div>
						</div>
						<div class="block blueBlock">
							<div data-modal-key="profileBlueName" class="name blueName">My Personality</div>
							<div data-modal-key="profileBlueContent" class="editable content blueContent">I have a clear vision of how the world should be, and respect law and tradition because they exist for a reason. I tend to believe the best of others, and sensitive to their needs and desires. I am considerate, generous, and very reliable. </div>
						</div>
					</div>
					<div class="col-sm-5">
						<div class="personality">
							<div class="editComponent findType"></div>
							<div class="typeText">
								<div class="upper">Type 2</div>
								<div class="lower">THE HELPER</div>
							</div>
							<div class="editComponent uploadBtn"></div>
							<img src="/images/demo/profile-image-1.jpg" width="100%" alt="">
						</div>
						<div class="block purpleBlock">
							<div class="name purpleName">Type Characteristics</div>
							<div data-modal-key="profilePurpleContent" class="editable content purpleContent">People of this personality type essentially feel that they are worthy in so far as they are helpful to others. Love is their highest ideal. Selflessness is their duty. Giving to others is their reason for being. Involved, socially aware, usually extroverted, Twos are the type of people who remember everyone's birthday and who go the extra mile to help out a co-worker, spouse or friend in need.</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>