<template name="profileTemplate">
	{{> characterTestTemplate }}
	<div class="profileTemplate">
		<div class="container container-fixed">
			<div class="profileNameDescription">
				<div data-modal-key="profileName" class="editable profileName"></div>
				<div data-modal-key="profileDescription" class="editable profileDescription"></div>
			</div>
		</div>
		<div class="profileAboutMe">
			<div class="container container-fixed">
				<h3 class="text-center"><strong><u>ABOUT ME</u></strong></h3>
				<div class="row grid">
					<div class="col-sm-7">
						<div class="block greenBlock">
							<div data-modal-key="profileGreenName" class="editable name greenName"></div>
							<div data-modal-key="profileGreenContent" class="editable content greenContent"></div>
						</div>
						<div class="block blueBlock">
							<div class="name blueName">My Personality</div>
							<div data-modal-key="profileBlueContent" class="editable content blueContent"></div>
						</div>
					</div>
					<div class="col-sm-5">
						<!-- <div class="personality">
							<div class="typeText">
								<div class="upper">Type 2</div>
								<div class="lower">THE HELPER</div>
							</div>
							<div class="editComponent uploadBtn"></div>
							<img src="/images/demo/profile-image-1.jpg" width="100%" alt="">
						</div> -->
						<div class="block purpleBlock">
							<div class="name purpleName">Type Characteristics</div>
							{{#if getCharacteristics }}
								<div class="content purpleContent">{{{ getCharacteristics }}}</div>
							{{/if }}
							<a class="editComponent findType"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>