<template name="referenceTemplate">
	<div class="referenceTemplate">
		<div class="container container-fixed">
			<h3 class="text-center"><strong><u>Reference Letter & Certificate</u></strong></h3>
			<div class="row">
				<a href="#" target="_blank" data-toggle="modal" data-target="#cert_ref_download"><div class="resume col-xs-5 text-left"><img src="/images/resume-sample.jpg" alt=""></div></a>
				<a href="#" target="_blank" data-toggle="modal" data-target="#cert_ref_download"><div class="resume col-xs-7 text-right"><img src="/images/cert-sample.jpg" alt=""></div></a>
				<!-- <a href="/images/demo.pdf" target="_blank"><div class="resume col-xs-4 text-center"><img src="/images/resume-sample.jpg" alt=""></div></a>
				<a href="/images/demo.pdf" target="_blank"><div class="resume col-xs-4 text-right"><img src="/images/resume-sample.jpg" alt=""></div></a> -->
			</div>
		</div>
	</div>

	<div class="modal fade" id="cert_ref_download" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Reference Letter & Certificate</h4>
				</div>
				<div class="modal-body">
					Reference Letter & Certificate is not ready yet, please try again later.
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</template>