<template name="referenceTemplate">
	<div class="referenceTemplate">
		<div class="container container-fixed">
			<h3 class="text-center"><strong><u>ABOUT ME</u></strong></h3>
			<div class="row">
				<a href="/images/demo.pdf" target="_blank"><div class="resume col-xs-4 text-left"><img src="/images/resume-sample.jpg" alt=""></div></a>
				<a href="/images/demo.pdf" target="_blank"><div class="resume col-xs-4 text-center"><img src="/images/resume-sample.jpg" alt=""></div></a>
				<a href="/images/demo.pdf" target="_blank"><div class="resume col-xs-4 text-right"><img src="/images/resume-sample.jpg" alt=""></div></a>
			</div>
		</div>
	</div>
</template>