<template name="speechTemplate">
	<div class="speechTemplate">
		<div class="container container-fixed">
			<div data-modal-key="speechText" class="editable speechText heightFree">See more, work more, and you will gain more</div>
			<div data-modal-key="speechName" class="editable speechName heightFree">Kenji Wong</div>
			<div class="speechPhoto text-right pull-right">
				<div class="editComponent uploadBtn"></div>
				<img src="/images/demo/speech-thumbnail-1.jpg" alt="" class="img-circle" />
				<div class="teacherText">“Good job, my student I’m proud of you!”</div>
				<div class="teacherName">Peter Sam</div>
			</div>
		</div>
	</div>
</template>
