<template name="speechTemplate">
	<div class="speechTemplate">
		<div class="container container-fixed">
			<div data-modal-key="speechText" class="adminEditable speechText heightFree"></div>
			<div data-modal-key="speechName" class="adminEditable speechName heightFree"></div>
			<div class="speechPhoto text-right pull-right">
				<div class="editComponent uploadBtn">{{> photoUp photoUpOptions }}</div>
				{{# if speechImage }}
					<img src="{{ speechImage }}" alt="" class="img-circle" />
				{{ else }}
					<img src="/images/demo/speech-thumbnail-1.jpg" alt="" class="img-circle" />
				{{/if}}
			</div>
		</div>
	</div>
</template>
