<template name="speechTemplate">
	<div class="speechTemplate">
		<div class="container container-fixed">
			<div class="editComponent tips1">(此部分由學長填寫)</div>
			<div class="adminEditable speechText heightFree">See more, work more, and you will gain more</div>
			<div class="adminEditable speechName heightFree">My Mentor</div>
			<div class="speechPhoto text-right pull-right">
				<div class="editComponent uploadBtn">{{> photoUp photoUpOptions }}</div>
				{{# if speechImage }}
					<img src="{{ speechImage }}" alt="" class="img-circle" />
				{{ else }}
					<img src="/images/demo/speech-thumbnail-1.jpg" alt="" class="img-circle" />
				{{/if}}
			</div>
			<div class="editComponent tips2">溫馨提示:<br />您可上載與學長的合照</div>
		</div>
	</div>
</template>
