html, body{ width:100%; height:100%; }
body{ 
	font-family: 'Source Sans Pro', "MHei", "Helvetica", "Arial", sans-serif; 
	background-color: #f7f7f7;
}
.container-fixed{ margin: 0 auto; width: 960px; }
.wrapper{ 
	width:100%; height:100%; min-height:850px; position:relative; 
	padding: 110px 0 0 0;
}
#change-password{
	input{ border:1px solid #dcdcdc; }
}
#mainFooter{ 
	position:absolute; bottom:0; width:100%; height:20px; min-width:960px;
	background-color: #6dc2d4; color:#FFF; text-align: center;
	padding:40px 0px 100px 0px; font-size:14px;
}
.has-error .form-control{ border:1px solid red; }
.form-control{ border-radius: 0; border:none; }
a{ color:#ff6633; font-size:14px; text-decoration: underline; }
.btn{ color:#FFF; padding: 5px 25px; }
.btn-primary{ 
	background-color: #999933; border: none; 
	&.orange{ background-color: #ff6633; }
}
.btn-default{ background-color: #999999; border: none; }
#mainHeader{ 
	position:absolute; top:0; left:0; width:100%; 
	min-width:960px; height:105px; background-color: #fff;
	.rainbowBar{
		width:100%; height:5px;
		background-image: url(/images/rainbow-bar.jpg); 
		background-position: bottom center; background-repeat: no-repeat;
	}
	.starLogo{ 
		width:208px; height:105px; 
		background-image: url(/images/star-logo.jpg);
	}
	.ageasLogo{
	    width: 128px;
	    height: 105px;
	    background-image: url(images/ageas-logo.jpg);
	    background-size: 120px auto;
	    background-repeat: no-repeat;
	    background-position: center center;
	    margin-left: 16px;
	}
	.headerNav{ 
		height:105px; display:table-row;
		.navBtn{ 
			margin-right:30px; display:table-cell; height:105px; vertical-align: middle;
			a{ 
				text-decoration: none; color:#000; 
				&:hover{ text-decoration: underline; }
			}
			&.text{ padding-right:30px; }
			// &.shareIcon.facebook{ padding-right:5px; }
		}
	}
}
.modal-content{ border-radius: 0; }
.btn{ border-radius: 0; }
#register, #forgetPassword{
	h3{ margin-top:0; margin-bottom:10px; font-size:36px; font-weight: bold; }
	.reminder{ margin-bottom:60px; }
	a.closePopup{ 
		position: absolute; top: 20px; right: 20px; 
		color: #FFF; font-size: 26px; text-decoration: none;
	}
	.buttonWrap{ margin-top:40px; }
}
#register{
	.modal-content{ background-color: #ff6633; color:#FFF; }
	.form-group{ color:#000; }
	.modal-body{ padding:80px 60px; }
	.passwordWrap{ margin-top:40px; }
}
#forgetPassword{
	color:#FFF; 
	.modal-body{ padding:80px 60px; background-color: #333333; }
}
#loginSection{ 
	height:100%; padding-bottom:140px; background-color: #fff;
	.loginWrapper{ 
		background-image: url(/images/login-bg.jpg); width:100%; height:100%;
		background-position: center bottom; background-repeat: no-repeat;
		background-size: cover; padding-top:80px; min-width:960px;
	}
	h3{ color:#cc3366; font-size:60px; font-weight:bold; margin-bottom:25px; }
	p{ margin-bottom: 60px; }
	#login-form{ width:280px; }
	.buttonWrap{ margin-top:20px; }
}
#homeSection{
	padding-bottom:300px; 
	.row{ 
		margin-bottom:5px; 
		img.shadow{ 
			-webkit-box-shadow: 2px 2px 5px 0px #bbb;
			box-shadow: 2px 2px 5px 0px #bbb; 
		}
	}
	h3{ margin:100px 0; text-align: center; font-weight: bold; font-size:35px; }
	strong{ margin:10px 0 10px 0; display:block; font-size:18px; }
	.buttonWrap{ 
		margin-top:60px; 
		a{ text-decoration: none; }
	}
}
#aboutSection{
	padding-bottom:140px; 
	h3{ font-weight: bold; }
	.firstRow, .secondRow, .thridRow{ min-width:960px; }
	.firstRow{ padding: 140px 0; background-color:#6cc; }
	.secondRow{ 
		height:446px; background-image: url(/images/about-bg-2.png); 
		background-repeat: no-repeat; background-position: center bottom;
		.textWrap{ padding-top:70px; margin-bottom:70px; }
	}
	.thridRow{ 
		.container.container-fixed{ position:relative; }
		height: 590px; background-image: url(/images/about-bg-3.jpg); 
		background-repeat: no-repeat; background-position: center top;
		.textWrap{ position:absolute; top: 180px; left: 1040px; left:570px; width:350px; }
	}
}
#editSection{
	padding:30px 0 140px 0; background-color: #fff;
	.thumbnails{ 
		background-image: url(/images/edit-thumbnail-bg.png); background-color: transparent;
		background-position: bottom center; background-repeat: repeat-x; 
		position: absolute; height: 210px; width: 100%; min-width: 960px;
		z-index: 10;
	}
	.tab-content{ padding-top: 204px; }
	.editThumbnail{ 
		color:#000;
		li{ 
			position: relative; text-align: center; height:175px;
			&.active{ 
				background-color:#F05622; 
				background-image: url(/images/edit-thumbnail-arrow.jpg);
				background-position: bottom center; background-repeat: no-repeat;
			}
			a{ 
				height:auto; padding:10px 5px; background-color:transparent; 
				color:#000; text-decoration: none; 
				.textWrap{ position:absolute; width:100%; text-align: center; left:0; }
				&.cover{ padding-top:31px; } 
				&.cover .textWrap{ bottom:-40px; }
				&.profile .textWrap{ bottom:-18px; }
				&.speaker{ padding-top:24px; }
				&.speaker .textWrap{ bottom:-31px; }
				&.reference{ padding-top:32px; }
				&.reference .textWrap{ bottom:-40px; }
				&.accomplishments { padding-top:31px; }
				&.accomplishments .textWrap{ bottom:-35px; }
				&.speech { padding-top: 32px; }
				&.speech .textWrap{ bottom:-37px; }
			}
		}
	}
}
.sections{ width:100%; height:auto; min-height:100%; position:relative; }

.editable{ position:relative; }
.editable:before{ position:absolute; top:10px; left:10px; width:100%; opacity: 0.5; word-break: normal; }
.editable[data-modal-key=coverKeywords]:before{ top:20px; }
.editable.notEmpty:before{ display:none; }
.editable[data-modal-key=coverCircle]:before{ content: "My Passion And Innovation"; }
.editable[data-modal-key=coverFooterText]:before{ content: "By taking part in this intern program, I hope to gain better understanding about myself."; }
.editable[data-modal-key=coverKeywords]:before{ content: "Creativity｜Adaptation｜Perceptive｜Insight"; }
.editable[data-modal-key=coverSubTitle1]:before{ content: "Be Extraordinary In a Class by Yourself"; }
.editable[data-modal-key=coverSubTitle2]:before{ content: "Successfully Obtained Academic Credits"; }
.editable[data-modal-key=coverSubTitle3]:before{ content: "The Five Things I Want to Accomplish in 2016."; }
.editable[data-modal-key=coverTitle]:before{ content: "Endless passion for ideals"; }
.editable[data-modal-key=profileBlueContent]:before{ content: "I have a clear vision of how the world should be, and respect law and tradition because they exist for a reason. I tend to believe the best of others, and sensitive to their needs and desires. I am considerate, generous, and very reliable. "; }
.editable[data-modal-key=profileDescription]:before{ content: "By taking part in this intern program, I hope to gain better understanding about myself. Through a series of opportunities and challenges I want to increase self-awareness, and advance my expertise so as to benefit my future career development. "; }
.editable[data-modal-key=profileGreenContent]:before{ content: "I wanted to live the life, a different life. I didn't want to go to the same place every day and see the same people and do the same job. I wanted interesting challenges."; }
.editable[data-modal-key=profileGreenName]:before{ content: "“Dare to Differ”"; }
.editable[data-modal-key=profileName]:before{ content: "I am Amy Chan."; }
.editable[data-modal-key=speaker1Content]:before{ content: "From Bob Lam I learned how to train my own quick responses. In my mind he is a smart person. I used to feel being smart is an endowed characteristic. But today he shared some interesting examples in real-time, making me to realize quick responses can be improved by increasing mental awareness of the cause-effect relationship on matters in daily life. "; }
.editable[data-modal-key=speaker2Content]:before{ content: "From Agnes Wu I learnt a lot about understanding the financial strength of a company is the most crucial step in analyzing a stock. Without understanding financials, you cannot actually think like an analyst. In case you are not comfortable with numbers, no need to hesitate, just start learning as early as possible."; }
.editable[data-modal-key=speaker3Content]:before{ content: "I learned a lot from Glami Chan that whether I am job hunting, gathering leads, or networking for business, having a professional, eye-catching LinkedIn profile is an excellent idea to make sure that I can be found by the right people at the right time."; }
.editable[data-modal-key=speaker4Content]:before{ content: "From Ray Woo I learned take charge of my life, and become a creator, rather than a victim. I was inspired by his words and have successfully applied many of his ideas in my life."; }
.editable[data-modal-key=speaker5Content]:before{ content: "I learned a lot from Mr Li and I really wish I someday I could become a successful person like him. Later some schoolmates told me he and I had something in common. That made me very happy. I will double my effort from now on so that I hope someday I can achieve as much as he does."; }
.editable[data-modal-key=speechName]:before{ content: "My metor"; }
.editable[data-modal-key=speechText]:before{ content: "See more, work more, and you will gain more"; }


.editableTemplate{
	.editable[data-modal-key=thumbnail1Text]:before{ content: "Your Caption"; }
	.editable[data-modal-key=thumbnail2Text]:before{ content: "Your Caption"; }
	.editable[data-modal-key=thumbnail3Text]:before{ content: "Your Caption"; }
	.editable[data-modal-key=thumbnail4Text]:before{ content: "Your Caption"; }
	.editable[data-modal-key=thumbnail5Text]:before{ content: "Your Caption"; }
	.editable[data-modal-key=thumbnail6Text]:before{ content: "Your Caption"; }
	.editable[data-modal-key=thumbnail7Text]:before{ content: "Your Caption"; }
	.editable[data-modal-key=thumbnail8Text]:before{ content: "Your Caption"; }
	.editable[data-modal-key=thumbnail9Text]:before{ content: "Your Caption"; }
	.editable[data-modal-key=thumbnail10Text]:before{ content: "Your Caption"; }
	.editable[data-modal-key=thumbnail11Text]:before{ content: "Your Caption"; }
	.editable[data-modal-key=thumbnail12Text]:before{ content: "Your Caption"; }
}
