<template name="about">
	<div class="sections" id="aboutSection">
		<div class="firstRow text-center">
			<img src="/images/about-title.png" alt="">
		</div>
		<div class="secondRow">
			<div class="container container-fixed">
				<div class="textWrap">
					<h4>專業網上履歷  助你勝人一疇</h4>
					<p>
						- 個性化設計配合完美技術支援，令人留下深刻鮮明的第一印象<br />
						- 星級財策領袖實習計劃令你的每一頁簡介都勝人一疇
					</p>
				</div>
				<img src="/images/about-aboutEportfolio.png" alt="">
			</div>
		</div>
		<div class="thridRow">
			<div class="container container-fixed">
				<div class="textWrap">
					<h3>你事業的未來優勢</h3>
					<p>
						- 完成課程後，何時何地均可展示你最強的「個人名片」<br />
						- 令你未來求職升學與眾不同，令人留下深刻的好印象
					</p>
				</div>
			</div>
		</div>
		{{> footer }}
	</div>
</template>