<template name="header">
	<header id="mainHeader">
		<div class="container container-fixed">
			<a target="_blank" href="http://ageasinternship.com"><div class="starLogo pull-left"></div></a>
			<a target="_blank" href="http://www.ageas.com.hk/"><div class="ageasLogo pull-left"></div></a>
			<div class="headerNav pull-right">
				<div class="navBtn text"><a href="/about">關於活動</a></div>
				<div class="navBtn text"><a href="/">分頁簡介</a></div>
				<div class="navBtn text"><a href="/edit-template">製作網上履歷</a></div>
				<div class="navBtn shareIcon facebook"><img src="/images/facebook-share.png" alt=""></div>
				<!-- <div class="navBtn shareIcon twitter"><img src="/images/twitter-share.png" alt=""></div> -->
			</div>
		</div>
		<div class="rainbowBar"></div>
	</header>
</template>