<template name="home">
	<div class="container">
		<h3>Ageas e-portfolio</h3>
		<form id="login-form" action="action">
			<div class="form-group">
				<label for="login-email">Email</label>
				<input class="form-control" type="email" id="login-email" />
			</div>
			<div class="form-group">
				<label for="login-password">Password</label>
				<input class="form-control" type="password" id="login-password" />
			</div>
			<div class="form-group">
				<button id="login-button" class="btn btn-default" type="submit">Submit</button>
			</div>
		</form> 
		<a class="btn btn-primary" href="register">Register</a>
		<a class="btn btn-primary" href="forget-password">Forget password</a>
	</div>
</template>