<template name="forgetPassword">
	<a href="javascript:void(0)" data-dismiss="modal" class="closePopup"><i class="glyphicon glyphicon-remove"></i></a>
	<div class="container-fluid">
		<h3>忘記密碼？</h3>
		<form id="forget-password">
			<div class="form-group">
				<label for="forget-email">電郵：</label>
				<input type="text" id="forget-email" class="form-control">
			</div>
			<div class="form-group">
				<label for="forget-phone">電話號碼:</label>
				<input type="text" id="forget-phone" class="form-control">
			</div>
			<div class="buttonWrap">
				<button class="btn btn-primary" type="submit">提交</button>
				<button class="btn btn-default" type="reset">重置</button>
			</div>
		</form>
	</div>
</template>