<template name="login">
	<div class="container">
		<h3>Testing login & register</h3>
		<form id="login-form" novalidate="novalidate">
			<div class="form-group"><label for="login-email">Email</label><input type="text" id="login-email" class="form-control"></div>
			<div class="form-group"><label for="login-password">Password</label><input type="password" id="login-password" class="form-control"></div>
			<div class="form-group">
				<button class="btn btn-primary" type="submit">Submit</button>
			</div>
		</form>
		<a class="btn btn-primary" href="register">Register</a>
		<a class="btn btn-primary" href="forget-password">Forget password</a>
	</div>
</template>