<template name="login">

	<div id="loginSection">
		<div class="loginWrapper">
			<div class="container container-fixed">
				<h3><img src="/images/home-title.png" alt=""></h3>
				<p>一個連結 令你的未來機遇找到你</p>
				<form id="login-form" novalidate="novalidate">
					<div class="form-group">
						<input type="text" id="login-email" class="form-control" placeholder="登記電郵地址 / 電話號碼">
					</div>
					<div class="form-group">
						<input type="password" id="login-password" class="form-control" placeholder="密碼">
					</div>
					<a data-toggle="modal" data-target="#forgetPassword" href="javascript:void(0)">忘記密碼？</a>
					<div class="buttonWrap">
						<button class="btn btn-primary orange" type="submit">登入</button>
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#register">立即登記</button>
					</div>
				</form>
				<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#forgetPassword">Forget password</button> -->
			</div>
		</div>
	</div>
	
	{{> footer }}

	<div class="modal fade" id="register" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					{{>register}}
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="forgetPassword" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					{{>forgetPassword}}
				</div>
			</div>
		</div>
	</div>

</template>