<template name="register">
	<a href="javascript:void(0)" data-dismiss="modal" class="closePopup"><i class="glyphicon glyphicon-remove"></i></a>
	<div class="container-fluid">
		<h3>登記使用網上履歷</h3>
		{{#autoForm schema=registerSchema id="register-form" type="method" meteormethod="register"}}
			{{> afQuickField name="name"}}
			{{> afQuickField name="email"}}
			{{> afQuickField name="phoneNumber"}}
			<div class="passwordWrap">
				{{> afQuickField name="password"}}
				{{> afQuickField name="rePassword"}}
			</div>
			<div class="buttonWrap">
				<button type="submit" class="btn btn-primary">確認</button>
				<button type="reset" class="btn btn-default">重置</button>
			</div>
		{{/autoForm}}
	</div>
</template>