<template name="resetPassword">
	<div class="container">
		<h3>Reset password</h3>
		<form id="reset-password">
			<div class="form-group">
				<label for="forget-email">Password</label>
				<input type="password" id="reset-newPassword" class="form-control">
			</div>
			<div class="form-group">
				<label for="forget-phone">Re-enter Password</label>
				<input type="password" id="reset-rePassword" class="form-control">
			</div>
			<button class="btn btn-primary" type="submit">Submit</button>
		</form>
	</div>
</template>
