<template name="userSetting">
	
	<div id="userSettingPopup" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">設定</h4>
				</div>
				<div class="modal-body">
					
					<form id="userProfileUpdate">
						<h5>姓名</h5>
						<div class="form-group">
							<input type="text" placeholder="Name" id="currentName" class="form-control" value={{ getUserCurrentName }}>
						</div>
						<div class="form-group text-left"><button class="btn btn-primary" type="submit">Submit</button></div>
					</form>
					
					<hr>

					<form id="changePassword">
						<h5>更改密碼</h5>
						<div class="form-group">
							<input type="password" placeholder="Current Password" id="currentPassword" class="form-control">
						</div>
						<div class="form-group">
							<input type="password" placeholder="New Password" id="newPassword" class="form-control">
						</div>
						<div class="form-group">
							<input type="password" placeholder="Re-enter Password" id="reEnterPassword" class="form-control">
						</div>
						<div class="form-group text-left"><button class="btn btn-primary" type="submit">Submit</button></div>

						<hr>
						
						<div class="text-center">
							<button type="button" data-dismiss="modal" class="btn btn-primary" id="logoutBtn">Logout</button>
						</div>
					</form>

				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

</template>