<template name="photoUpOverride">
	<div class="photo-up {{extraClass}}">
		{{#unless photo}}
			<input type="file" id="file-uploader" name="photo-up-image-file" accept="image/*" style="display:none" />
			<div class="dropbox no-image center-align valign-wrapper z-depth-1 {{photoClass}}">
				<div class="photo-in valign">
					<div>{{newDirections}}</div>
					<div>
						{{{newImage}}}
					</div>  
				</div>
			</div>
		{{else}}
			<div id="photoUpPreview" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">User setting</h4>
						</div>
						<div class="modal-body">
							<div class="container-fixed">
								{{> photoUpCaller }}
								{{> photoUpImagePreview}}
							</div>
						</div>
					</div>
				</div>
			</div>
		{{/unless}}
	</div>
</template>

<template name="photoUpCaller"></template>
