<template name="photoUpOverride">
	<div class="photo-up {{extraClass}}">
		{{#unless photo}}
			<input type="file" id="file-uploader" name="photo-up-image-file" accept="image/*" style="display:none" />
			<div class="dropbox no-image center-align valign-wrapper z-depth-1 {{photoClass}}">
				<div class="photo-in valign">
					<!--<div>{{newDirections}}</div>
					<div>
						{{{newImage}}}
					</div>-->
				</div>
			</div>
		{{else}}
			<div class="modal fade photoUpPreview">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title text-left">
								裁切相片 <span class="filter_title">/ 添加濾鏡</span>
							</h4>
						</div>
						<div class="modal-body">
							{{> photoUpCaller }}
							{{> photoUpImagePreview}}
						</div>
					</div>
				</div>
			</div>
		{{/unless}}
	</div>
</template>

<template name="photoUpCaller"></template>

<template name="photoUpImagePreviewOverride">
	<div class="card-div center-align {{photoClass}}" style="width:{{imgWidth}}px;">
		<div class="card {{noContent}} {{fixMaxWidth}} dropbox" style="width:{{imgWidth}}px;">
			<div class="card-image" style="width:{{imgWidth}}px;">
				{{#unless showReset}}
					<img id="image-preview" src="{{photo.src}}">
				{{/unless }}
				<span class="card-title">{{photo.name}}</span>
				<span class="card-tagline">{{replaceDirections}}</span>
			</div>
			{{#if showInfo}}
				<div class="card-content left-align">
					<p>
						<div>
							{{t9n 'Original File Size'}}: {{filesize}} KB
						</div>
						<div>
							{{t9n 'Image Size'}}: {{photosize}} KB
						</div>
						<div class={{badAspectRatio}}>
							{{t9n 'Dimensions'}}: {{photo.height}}h x {{photo.width}}w
							{{#if badAspectRatio}}
								<br/>
								{{t9n 'Photo is not the required aspect ration'}} {{requiredAspectRatio}}
							{{/if}}
						</div>
					</p>
				</div>
			{{/if}}
			{{#if showAction}}
				<div class="card-action right-align">
					{{#if showCrop}}
						<button class="btn btn-primary crop" href="">{{t9n 'crop'}}</button>
					{{/if}}
					{{#if showClear}}
						<button class="btn btn-primary clear" href="">{{t9n 'clear'}}</button>
					{{/if}}
				</div>
			{{/if}}
		</div>
	</div>

	{{#if showAction}}
		{{#if showReset}}
			{{#if showFilter }}
				<div class="row">
					<div class="col-sm-4"><img width="100%" class="accomp_filter_image" id="accomp_filter_01" src="{{ getFilter photo.src 'accomp_filter_01' 'F59B0F' }}"></div>
					<div class="col-sm-4"><img width="100%" class="accomp_filter_image" id="accomp_filter_02" src="{{ getFilter photo.src 'accomp_filter_02' 'D90B77' }}"></div>
					<div class="col-sm-4"><img width="100%" class="accomp_filter_image" id="accomp_filter_03" src="{{ getFilter photo.src 'accomp_filter_03' '61C2D5' }}"></div>
				</div>
				<div class="row">
					<div class="col-sm-4"><img width="100%" class="accomp_filter_image" id="accomp_filter_04" src="{{ getFilter photo.src 'accomp_filter_04' '894195' }}"></div>
					<div class="col-sm-4"><img width="100%" class="accomp_filter_image" id="accomp_filter_07" src="{{ getFilter photo.src 'accomp_filter_07' '626061' }}"></div>
					<div class="col-sm-4"><img width="100%" class="accomp_filter_image" id="accomp_filter_08" src="{{ getFilter photo.src 'accomp_filter_08' 'F05620' }}"></div>
				</div>
				<div class="row">
					<div class="col-sm-4"><img width="100%" class="accomp_filter_image" id="accomp_filter_05" src="{{ getFilter photo.src 'accomp_filter_05' 'bubble' }}"></div>
					<div class="col-sm-4"><img width="100%" class="accomp_filter_image" id="accomp_filter_06" src="{{ getFilter photo.src 'accomp_filter_06' 'ageasLine' }}"></div>
					<div class="col-sm-4"><img width="100%" class="accomp_filter_image" id="accomp_filter_09" src="{{ getFilter photo.src 'accomp_filter_09' '' }}"></div>
				</div>
			{{/if }}
			<div class="card-action text-left row">
				<div class="col-sm-12">
					<!-- <a class="btn btn-primary reset" href="#">RESET</a> -->
					<button class="btn btn-primary" id="filterConfirm">CONFIRM</button>
				</div>
			</div>
		{{/if}}
	{{/if}}

</template>