<template name="editTemplateRightReserve">
	<div class="row">
		<div class="col-xs-12">
			<br />
			<p>所有內容皆屬其學員的個人意見，並不代表富通保險之立場。</p>
			<p>Such information contributed in e-portfolio reflects only the views of the contributor of such information and does not represent the viewpoint of FTLife Insurance Company (Asia) Limited.</p>
		</div>
	</div>
</template>

<template name="editTemplate">
	<div class="sections" id="editSection">
		<div class="thumbnails">
			<div class="container container-fixed">
				<ul class="editThumbnail nav nav-pills" role="tablist">
					<li role="presentation" class="active">
						<a class="tabButton cover" href="#cover" aria-controls="cover" role="tab" data-toggle="tab">
							<img src="/images/edit-thumbnail-1.png" alt="">
							<div class="textWrap">1 - 專業封面設計</div>
						</a>
					</li>
					<li role="presentation">
						<a class="tabButton profile" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
							<img src="/images/edit-thumbnail-2.png" alt="">
							<div class="textWrap">2 - 自我介紹</div>
						</a>
					</li>
					<li role="presentation">
						<a class="tabButton speaker" href="#speaker" aria-controls="speaker" role="tab" data-toggle="tab">
							<img src="/images/edit-thumbnail-3.png" alt="">
							<div class="textWrap">3 - 導師啟發</div>
						</a>
					</li>
					<li role="presentation">
						<a class="tabButton reference" href="#reference" aria-controls="reference" role="tab" data-toggle="tab">
							<img src="/images/edit-thumbnail-4.png" alt="">
							<div class="textWrap">4 - 最強紀錄</div>
						</a>
					</li>
					<li role="presentation">
						<a class="tabButton accomplishments" href="#accomplishments" aria-controls="accomplishments" role="tab" data-toggle="tab">
							<img src="/images/edit-thumbnail-5.png" alt="">
							<div class="textWrap">5 - 活動相冊</div>
						</a>
					</li>
					<li role="presentation">
						<a class="tabButton speech" href="#speech" aria-controls="speech" role="tab" data-toggle="tab">
							<img src="/images/edit-thumbnail-6.png" alt="">
							<div class="textWrap">6 - 學長的話</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="tab-content">
			<div role="tabpanel" class="editableTemplate tab-pane active" id="cover">
				{{> coverTemplate }}
				<div class="templateControl">
					<div class="container container-fixed">
						<div class="pull-left">
							{{#if isDocumentSaveable }}
								<button class="btn btn-primary savePreviewBtn">{{ saveOrPreview }}</button>
								{{#if coverImageDownloadable }}
									<button id="coverDownloadCaller" class="btn btn-primary">下載</button>
								{{/if}}
							{{ else }}
								<p>字數太多，不能儲存</p>
							{{/if}}
						</div>
						<div class="pull-right">
							<div class="pull-right">
								<span class="shareText">你可分享至：</span><span data-href="cover" class="shareFacebook"></span>
							</div>
						</div>
						{{> editTemplateRightReserve }}
					</div>
				</div>
			</div>
			<div role="tabpanel" class="editableTemplate tab-pane" id="profile">
				{{> profileTemplate }}
				<div class="templateControl">
					<div class="container container-fixed">
						<div class="pull-left">
							{{#if isDocumentSaveable }}
								<button class="btn btn-primary savePreviewBtn">{{ saveOrPreview }}</button>
							{{ else }}
								<p>字數太多，不能儲存</p>
							{{/if}}
						</div>
						<div class="pull-right">
							<span class="shareText">你可分享至：</span><span data-href="profile" class="shareFacebook"></span>
						</div>
						{{> editTemplateRightReserve }}
					</div>
				</div>
			</div>
			<div role="tabpanel" class="editableTemplate tab-pane" id="speaker">
				{{> messageTemplate }}
				<div class="templateControl">
					<div class="container container-fixed">
						<div class="pull-left">
							{{#if isDocumentSaveable }}
								<button class="btn btn-primary savePreviewBtn">{{ saveOrPreview }}</button>
							{{ else }}
								<p>字數太多，不能儲存</p>
							{{/if}}
						</div>
						<div class="pull-right">
							<span class="shareText">你可分享至：</span><span data-href="speaker" class="shareFacebook"></span>
						</div>
						{{> editTemplateRightReserve }}
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="reference">
				{{> referenceTemplate }}
			</div>
			<div role="tabpanel" class="editableTemplate tab-pane" id="accomplishments">
				{{> accomplishmentsTemplate }}
				<div class="templateControl">
					<div class="container container-fixed">
						<div class="pull-left">
							{{#if isDocumentSaveable }}
								<button class="btn btn-primary savePreviewBtn">{{ saveOrPreview }}</button>
							{{ else }}
								<p>字數太多，不能儲存</p>
							{{/if}}
						</div>
						<div class="pull-right">
							<span class="shareText">你可分享至：</span><span data-href="accomplishments" class="shareFacebook"></span>
						</div>
						{{> editTemplateRightReserve }}
					</div>
				</div>
			</div>
			<div role="tabpanel" class="editableTemplate tab-pane" id="speech">
				{{> speechTemplate }}
				<div class="templateControl">
					<div class="container container-fixed">
						<div class="pull-left">
							{{#if isDocumentSaveable }}
								<button class="btn btn-primary savePreviewBtn">{{ saveOrPreview }}</button>
							{{ else }}
								<p>字數太多，不能儲存</p>
							{{/if}}
						</div>
						<div class="pull-right">
							<span class="shareText">你可分享至：</span><span data-href="speech" class="shareFacebook"></span>
						</div>
						{{> editTemplateRightReserve }}
					</div>
				</div>
			</div>
		</div>
		{{> footer }}
	</div>
</template>
